
@-webkit-keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 672.049560546875px;
      stroke-dasharray: 672.049560546875px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 672.049560546875px;
    }
  }
  
  @keyframes animate-svg-stroke-1 {
    0% {
      stroke-dashoffset: 672.049560546875px;
      stroke-dasharray: 672.049560546875px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 672.049560546875px;
    }
  }
  
  @-webkit-keyframes animate-svg-fill-1 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(237, 36, 71);
    }
  }
  
  @keyframes animate-svg-fill-1 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(237, 36, 71);
    }
  }
  
  .svg-elem-1 {
    -webkit-animation: animate-svg-stroke-1 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both,
                         animate-svg-fill-1 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.51s both;
            animation: animate-svg-stroke-1 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s both,
                 animate-svg-fill-1 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both;
  }
  
  @-webkit-keyframes animate-svg-stroke-2 {
    0% {
      stroke-dashoffset: 248.2175750732422px;
      stroke-dasharray: 248.2175750732422px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 248.2175750732422px;
    }
  }
  
  @keyframes animate-svg-stroke-2 {
    0% {
      stroke-dashoffset: 248.2175750732422px;
      stroke-dasharray: 248.2175750732422px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 248.2175750732422px;
    }
  }
  
  @-webkit-keyframes animate-svg-fill-2 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  @keyframes animate-svg-fill-2 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  .svg-elem-2 {
    -webkit-animation: animate-svg-stroke-9 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.260s both,
    animate-svg-fill-9 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both;
animation: animate-svg-stroke-9 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.510s both,
animate-svg-fill-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both;
  }
  
  @-webkit-keyframes animate-svg-stroke-3 {
    0% {
      stroke-dashoffset: 217.32936096191406px;
      stroke-dasharray: 217.32936096191406px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 217.32936096191406px;
    }
  }
  
  @keyframes animate-svg-stroke-3 {
    0% {
      stroke-dashoffset: 217.32936096191406px;
      stroke-dasharray: 217.32936096191406px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 217.32936096191406px;
    }
  }
  
  @-webkit-keyframes animate-svg-fill-3 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  @keyframes animate-svg-fill-3 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  .svg-elem-3 {
    -webkit-animation: animate-svg-stroke-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.650s both,
    animate-svg-fill-9 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both;
animation: animate-svg-stroke-9 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s both,
animate-svg-fill-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both;
  }
  
  @-webkit-keyframes animate-svg-stroke-4 {
    0% {
      stroke-dashoffset: 258.3160705566406px;
      stroke-dasharray: 258.3160705566406px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 258.3160705566406px;
    }
  }
  
  @keyframes animate-svg-stroke-4 {
    0% {
      stroke-dashoffset: 258.3160705566406px;
      stroke-dasharray: 258.3160705566406px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 258.3160705566406px;
    }
  }
  
  @-webkit-keyframes animate-svg-fill-4 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  @keyframes animate-svg-fill-4 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  .svg-elem-4 {
    -webkit-animation: animate-svg-stroke-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.650s both,
    animate-svg-fill-9 0.12s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both;
animation: animate-svg-stroke-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45s both,
animate-svg-fill-9 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both;
  }
  
  @-webkit-keyframes animate-svg-stroke-5 {
    0% {
      stroke-dashoffset: 255.83644104003906px;
      stroke-dasharray: 255.83644104003906px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 255.83644104003906px;
    }
  }
  
  @keyframes animate-svg-stroke-5 {
    0% {
      stroke-dashoffset: 255.83644104003906px;
      stroke-dasharray: 255.83644104003906px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 255.83644104003906px;
    }
  }
  
  @-webkit-keyframes animate-svg-fill-5 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  @keyframes animate-svg-fill-5 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  .svg-elem-5 {
    -webkit-animation: animate-svg-stroke-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.650s both,
    animate-svg-fill-9 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both;
animation: animate-svg-stroke-9 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s both,
animate-svg-fill-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both;
  }
  
  @-webkit-keyframes animate-svg-stroke-6 {
    0% {
      stroke-dashoffset: 287.2906494140625px;
      stroke-dasharray: 287.2906494140625px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 287.2906494140625px;
    }
  }
  
  @keyframes animate-svg-stroke-6 {
    0% {
      stroke-dashoffset: 287.2906494140625px;
      stroke-dasharray: 287.2906494140625px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 287.2906494140625px;
    }
  }
  
  @-webkit-keyframes animate-svg-fill-6 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  @keyframes animate-svg-fill-6 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  .svg-elem-6 {
    -webkit-animation: animate-svg-stroke-9 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.750s both,
    animate-svg-fill-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both;
animation: animate-svg-stroke-9 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.66s both,
animate-svg-fill-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both;
  }
  
  @-webkit-keyframes animate-svg-stroke-7 {
    0% {
      stroke-dashoffset: 179.39129638671875px;
      stroke-dasharray: 179.39129638671875px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 179.39129638671875px;
    }
  }
  
  @keyframes animate-svg-stroke-7 {
    0% {
      stroke-dashoffset: 179.39129638671875px;
      stroke-dasharray: 179.39129638671875px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 179.39129638671875px;
    }
  }
  
  @-webkit-keyframes animate-svg-fill-7 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  @keyframes animate-svg-fill-7 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  .svg-elem-7 {
    -webkit-animation: animate-svg-stroke-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.650s both,
    animate-svg-fill-9 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both;
animation: animate-svg-stroke-9 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s both,
animate-svg-fill-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both;
  }
  
  @-webkit-keyframes animate-svg-stroke-8 {
    0% {
      stroke-dashoffset: 113.3043212890625px;
      stroke-dasharray: 113.3043212890625px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 113.3043212890625px;
    }
  }
  
  @keyframes animate-svg-stroke-8 {
    0% {
      stroke-dashoffset: 113.3043212890625px;
      stroke-dasharray: 113.3043212890625px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 113.3043212890625px;
    }
  }
  
  @-webkit-keyframes animate-svg-fill-8 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  @keyframes animate-svg-fill-8 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  .svg-elem-8 {
    -webkit-animation: animate-svg-stroke-9 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.750s both,
                         animate-svg-fill-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both;
            animation: animate-svg-stroke-9 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.66s both,
                 animate-svg-fill-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both;
  }
  
  @-webkit-keyframes animate-svg-stroke-9 {
    0% {
      stroke-dashoffset: 248.21778869628906px;
      stroke-dasharray: 248.21778869628906px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 248.21778869628906px;
    }
  }
  
  @keyframes animate-svg-stroke-9 {
    0% {
      stroke-dashoffset: 248.21778869628906px;
      stroke-dasharray: 248.21778869628906px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 248.21778869628906px;
    }
  }
  
  @-webkit-keyframes animate-svg-fill-9 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  @keyframes animate-svg-fill-9 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  .svg-elem-9 {
    -webkit-animation: animate-svg-stroke-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.650s both,
    animate-svg-fill-9 0.12s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both;
animation: animate-svg-stroke-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45s both,
animate-svg-fill-9 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both;
  }
  
  @-webkit-keyframes animate-svg-stroke-10 {
    0% {
      stroke-dashoffset: 179.39132690429688px;
      stroke-dasharray: 179.39132690429688px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 179.39132690429688px;
    }
  }
  
  @keyframes animate-svg-stroke-10 {
    0% {
      stroke-dashoffset: 179.39132690429688px;
      stroke-dasharray: 179.39132690429688px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 179.39132690429688px;
    }
  }
  
  @-webkit-keyframes animate-svg-fill-10 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  @keyframes animate-svg-fill-10 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  .svg-elem-10 {
    -webkit-animation: animate-svg-stroke-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.650s both,
    animate-svg-fill-9 0.12s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both;
animation: animate-svg-stroke-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45s both,
animate-svg-fill-9 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both;
  }
  
  @-webkit-keyframes animate-svg-stroke-11 {
    0% {
      stroke-dashoffset: 255.83651733398438px;
      stroke-dasharray: 255.83651733398438px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 255.83651733398438px;
    }
  }
  
  @keyframes animate-svg-stroke-11 {
    0% {
      stroke-dashoffset: 255.83651733398438px;
      stroke-dasharray: 255.83651733398438px;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 255.83651733398438px;
    }
  }
  
  @-webkit-keyframes animate-svg-fill-11 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  @keyframes animate-svg-fill-11 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255,255, 255);
    }
  }
  
  .svg-elem-11 {
    -webkit-animation: animate-svg-stroke-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.650s both,
    animate-svg-fill-9 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both;
animation: animate-svg-stroke-9 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s both,
animate-svg-fill-9 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both;
  }
  